# Ignore everything
*

# Don't ignore .gitignore
!.gitignore

# Include all .go files
!*.go

# Include go.mod, go.sum, annd go.yml files
!go.mod
!go.sum

# Include all subfolders
!*/

# Include test.txt for copy_path.go
!path/test.txt

# Include go.yml for Actions
!.github/workflows/go.yml

# Exclude base64_powershell/pythonversion
base64_powershell/pythonversion/

